<h1>Suggestion Box</h1>
<a href='/suggestions/new'>New Suggestion</a>
<ul>
<% @suggestions.each do |suggestion| %>
	<li><a href='/suggestions/<%= suggestion.id %>'><%= suggestion.body %> &mdash; <i><%= suggestion.author %></i></a></li>
<% end %>
</ul>
