<h1 id='suggestion-header'>Suggestion Box</h1>

<div id='new-suggestion-wrapper'>
  <a id='new-suggestion' href='/suggestions/new'>New Suggestion</a>
</div>
<ul>
<% @suggestions.each do |suggestion| %>
	<%= erb :'/suggestions/_show', locals: {suggestion: suggestion} %>
<% end %>
</ul>
