<h1>New Suggestion</h1>

<form action='/suggestions' method='post'>
	<div>
		<label>Body</label>
		<textarea name='suggestion[body]'></textarea>
	</div>
	<br>
	<div>
		<label>Author</label>
		<input type='text' placeholder='Your Name' name='suggestion[author]'/>
	</div>
	<input type='submit' value='Create'>
</form>